svivor.net {
	redir https://www.svivor.net{uri} permanent
}

www.svivor.net {
	file_server * {
		root /web/screenshots/public
	}
}

screenshot.svivor.net, localhost:8080 {
	file_server * {
		root /web/screenshots/public
		pass_thru
	}

	reverse_proxy :3000
}
